/*
*
* Base
*
* Template styles for base core items such as root, html and body.
*
*/

:root {
  scroll-behavior: initial;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 16px;
}

body {
  width: 100%;
  margin: 0;
  font-family: var(--font);
  font-weight: 400;
  color: var(--body);
  background-color: var(--background);
  font-size: 87.5%;
}

#root {
  opacity: 0;
  transition: 0.3s all;
}

html:not([data-show='true']) body.spinner {
  #root {
    opacity: 0;
  }

  &:after {
    border-color: #7d7d7d;
    border-right-color: transparent;
  }
}

html[data-show='true'] {
  scroll-behavior: smooth;
  #root {
    opacity: 1;
  }
}

.gapy {
  row-gap: 1rem !important;
}

.gapy-2 {
  row-gap: 0.5rem !important;
}

.gapy-4 {
  row-gap: 2rem !important;
}

.gapx-2 {
  column-gap: 0.5rem !important;
}

.gap {
  gap: 1rem !important;
}

.sticky-top-nav {
  position: sticky;
  top: 100px;
}

.pt-nav-scroll {
  padding-top: 100px !important;

  &:first-child {
    margin-top: -100px;
  }
}

.minw-max-content {
  min-width: max-content !important;
}
